.popup-delivery {
	&[v-cloak] {
		.popup-delivery__row {
			visibility: hidden;
		}
	}

	&__balloon {
		&__apply {
			margin-top: 20px;
		}
	}

	&__caller {
		padding: 15px 40px;
		border-radius: 0.3rem;
		font-size: 14px;
		font-family: "PT Serif Caption";
		background: #7cbd41;
		cursor: pointer;
		color: #fff;

		&--desktop {
			margin-left: auto;
		}

		&--mobile {
			display: none;
		}
	}

	&__title-row {
		display: flex;
		margin-bottom: 2rem;

		&__title {
			font-size: 2.6rem;
			font-family: "PT Serif Caption";
			padding: 0 0.5rem;
			color: #9b806f;
		}

		&__cafe-name {
			margin-left: auto;
			padding-left: 1em;
			font-size: 23px;
			color: #191919;
		}
	}

	&__body {
		padding: 4rem 6rem;
		background: url(../images/popup-delivery/1.jpeg) 0 100% no-repeat;
		background-size: 47% auto;
	}

	&__pane {
		display: none;

		&.active {
			display: block;
		}
	}

	&__row {
		display: flex;
		margin: 0 -25px;
	}

	&__col {
		flex: 0 0 auto;
		padding: 0 25px;
		min-height: 460px;
		width: 50%;
	}

	&__image {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__tabs {
		padding: 10px;
		border-radius: 5px;
		background: #f4f4f4;

		&__list {
			display: flex;
			margin: 0 -10px;
		}

		&__col {
			flex: 0 0 auto;
			width: 50%;
			padding: 0 10px;
		}

		&__item {
			transition: all 0.2s;
			display: block;
			font-size: 16px;
			padding: 0.9em;
			text-align: center;
			text-decoration: none !important;
			white-space: nowrap;
			color: #b5b5b5;

			&::after {
				display: none;
			}

			&.active {
				background: #fff;
				box-shadow: 0 0 5px rgba(#000, 0.1);
				border-radius: 5px;
				color: #7cbd41;
			}

			&:hover {
				color: darken(#b5b5b5, 10%);
			}
		}
	}

	&__window {
		width: 95vw;
		max-width: 1100px;
	}

	&__input {
		position: relative;
		margin: 20px 0;

		&__item {
			position: relative;
		}

		&__close {
			position: absolute;
			right: 1em;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			background: #f3f3f3 url(../images/popup-delivery/close.svg)
				no-repeat 50% 50%;
			background-size: 50% 50%;
			width: 2em;
			height: 2em;
			font-size: 10px;
			cursor: pointer;
		}

		.c-input {
			text-align: center;
		}
	}

	&__submit {
		display: flex;
		justify-content: center;

		.c-button {
			padding: 1em;
			text-transform: none;
			min-width: 140px;
			font-size: 14px;
		}
	}

	&__map {
		height: 100%;
		background: #f3f3f3;
	}

	&__select {
		display: none;
		position: absolute;
		top: 100%;
		margin-top: 20px;
		background: #fff;
		overflow: auto;
		max-height: 300px;
		border-radius: 5px;
		width: 100%;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		z-index: 100;

		&.active {
			display: block;
		}

		div {
			border-top: 1px solid #f3f3f3;
			padding: 11px 10px;
			cursor: pointer;

			&:first-child {
				border-top: 0;
			}

			&:hover {
				background: #fdfdfd;
			}
		}
	}

	.ymaps-2-1-79-suggest-item {
		padding: 0;
		margin: 0 !important;
	}

	.ymaps-2-1-79-search__suggest {
		padding: 0;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin-top: 20px;
		background: #fff;
		overflow: auto;
		max-height: 300px;
		border-radius: 5px;
		width: 100%;
		box-shadow: 0 5px 10px rgb(0 0 0 / 10%) !important;
		border: 0;
		z-index: 100;
	}

	.ymaps-2-1-79-search__suggest-item {
		border-top: 1px solid #f3f3f3;
		padding: 11px 10px;
		font-size: 16px;
		font-family: "PT Serif Caption";
		cursor: pointer;

		&:first-child {
			border-top: 0;
		}

		&:hover {
			background: #fdfdfd;
		}
	}
}

@media (max-width: 991.98px) {
	.popup-delivery {
		&__row {
			flex-wrap: wrap;
		}

		&__col {
			width: 100%;
			min-height: auto;
			margin-top: 4rem;

			&:first-child {
				margin-top: 0;
			}
		}

		&__map {
			height: 50vh;
		}

		&__caller {
			padding-right: 20px;
			padding-left: 20px;

			&--desktop {
				display: none;
			}

			&--mobile {
				display: inline-block;
			}
		}

		&__title-row {
			display: block;
			text-align: center;
			padding: 0 1.5rem;

			&__cafe-name {
				padding-left: 0;
				font-size: 14px;
				line-height: calc(18 / 14);
				margin: 7px 0 13px 0;
			}
		}
	}
}

@media (max-width: 729.98px) {
	.popup-delivery {
		&__caller {
			&--mobile {
				display: block;
				width: 100%;
			}
		}
	}
}
