---
title: Главная
layout: default.hbs
---


<script>
    function onSavedCallback(state) {
        alert('Я колбек. Меня можно задать в data-атрибутах. Получаю то же состояние, которое пишется в инпут:' + state + '. Можно использовать для синхронизации с бэкендом и вызова функций битрикса.');
    }
</script>

<div class="mfp-wrap popup-delivery is-visible" id="popup-delivery"  tabindex="-1" style="overflow-x: hidden; overflow-y: auto;" v-cloak

    data-cafes-url="data/cafes.json" 
    data-addresses-url="data/addresses.json"
    data-base-map-options='{"iconUrl":"images/popup-delivery/icon-default.png","iconOffset":[-28,-68],"iconSize":[56,68]}'
    data-delivery-map-options='{"center":[55.7600134479554,37.6234488098733],"zoom":8}'
    data-cafes-map-options='{"center":[55.7600134479554,37.6234488098733],"zoom":8}'
    data-onsaved="onSavedCallback">

    <div class="mfp-container mfp-inline-holder">
        <div class="mfp-content">
            <div class="mfp-content-bg"></div>
            <div class="popup popup-delivery__window">
                <div class="popup-box">
                    <h3 class="popup-title">Выберите способ получения <span class="popup-close"></span></h3>
                    <div class="popup-body popup-delivery__body">

                        <ul id="debug">
                            <li>
                                При нажатии "Выбрать" сохраняет в инпут состояние . 
                                При инициализации загружается из него.
                                <button type="button" onclick="document.getElementById('debug').style.display = 'none';">Ок!</button>
                            </li>
                            <li style="margin: 10px 0 20px 0;">
                                <input type="text" class="c-input" value='{"currentTab":"yourself","selectedCafe":{"id":"372","title":"АндерСон Гиляровского"},"address":""}' id="popup-delivery__state">
                            </li>
                        </ul>

                        <div class="popup-delivery__row">
                            <div class="popup-delivery__col">

                                <div class="popup-delivery__tabs">
                                    <div class="popup-delivery__tabs__list">
                                        <div class="popup-delivery__tabs__col">
                                            <a href="#" :class="['popup-delivery__tabs__item', {'active': currentTab === 'yourself'}]"
                                                @click.prevent="currentTab = 'yourself'">Самовывоз</a>
                                        </div>
                                        <div class="popup-delivery__tabs__col">
                                            <a href="#" :class="['popup-delivery__tabs__item', {'active': currentTab === 'delivery'}]"
                                                @click.prevent="currentTab = 'delivery'">Доставка</a>
                                        </div>
                                    </div>
                                </div>

                                <div v-show="currentTab === 'yourself'">
                                    <div class="popup-delivery__input">
                                        <div class="popup-delivery__input__item" v-if="selectedCafe">
                                            <input class="c-input" type="text" :value="selectedCafe.title" readonly @keyup="openCafesList()" @focus="openCafesList()">
                                            <button type="button" class="popup-delivery__input__close" @click="depickCafe()"></button>
                                        </div>
                                        
                                        <div class="popup-delivery__input__item" v-else>
                                            <input class="c-input" type="text" placeholder="Выберите интересующее вас кафе" @keyup="openCafesList()" @focus="openCafesList()">
                                        </div>

                                        <div :class="['popup-delivery__select', {'active': isCafesListOpen}]" >
                                            <div v-for="cafe in loadedCafes" :key="cafe.id" @click="pickCafe(cafe)">
                                                \{{ cafe.title }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="popup-delivery__submit" v-if="selectedCafe">
                                        <button class="c-button c-button__default" @click="saveAndClose()">Выбрать</button>
                                    </div>

                                </div>
                                
                                <div v-show="currentTab === 'delivery'">
                                    <div class="popup-delivery__input" >
                                        <input class="c-input" type="text" placeholder="Начните вводить адрес" v-model="address" id="popup-delivery__delivery-input">
                                    </div>

                                    <div class="popup-delivery__submit" v-if="address.trim().length">
                                        <button class="c-button c-button__default" @click="saveAndClose()">Выбрать</button>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="popup-delivery__col">

                                <div class="popup-delivery__map" id="popup-delivery__cafes-map" v-show="currentTab === 'yourself'"></div>
                                <div class="popup-delivery__map" id="popup-delivery__delivery-map" v-show="currentTab === 'delivery'"></div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


