---
title: Главная
layout: default.hbs
---


<script>
    function onSavedCallback(state) {
        alert('Привет! Я колбек. Меня можно задать в data-атрибутах. В меня передается то же состояние, которое пишется в инпут:' + state + '. Можно использовать для синхронизации с бэкендом и вызова функций битрикса.');
    }
</script>

<div class="mfp-wrap popup-delivery is-visible" id="popup-delivery"  tabindex="-1" style="overflow-x: hidden; overflow-y: auto;" v-cloak

    data-cafes-url="data/cafes.json" 
    data-addresses-url="data/addresses.json"
    data-base-map-options='{"iconUrl":"images/popup-delivery/icon-default.png","iconOffset":[-28,-68],"iconSize":[56,68]}'
    data-delivery-map-options='{"center":[55.7600134479554,37.6234488098733],"zoom":8}'
    data-cafes-map-options='{"center":[55.7600134479554,37.6234488098733],"zoom":8}'
    data-onsaved="onSavedCallback">

    <div class="mfp-container mfp-inline-holder">
        <div class="mfp-content">
            <div class="mfp-content-bg"></div>
            <div class="popup popup-delivery__window">
                <div class="popup-box">
                    <h3 class="popup-title">Выберите способ получения <span class="popup-close"></span></h3>
                    <div class="popup-body popup-delivery__body">

                        <span>
                            Хранилище состояния. 
                            <br>При нажатии "Выбрать" сохраняет состояние. 
                            <br>При инициализации загружает.
                            <br>Для сокрытия поменять тип на "hidden".
                        </span>
                        <input type="text" class="c-input" value='{"currentTab":"yourself","selectedCafe":{"id":"372","title":"АндерСон Гиляровского"},"address":""}' id="popup-delivery__state">

                        <div class="popup-delivery__row">
                            <div class="popup-delivery__col">

                                <div class="popup-delivery__tabs">
                                    <div class="popup-delivery__tabs__list">
                                        <div class="popup-delivery__tabs__col">
                                            <a href="#" :class="['popup-delivery__tabs__item', {'active': currentTab === 'yourself'}]"
                                                @click="currentTab = 'yourself'">Самовывоз</a>
                                        </div>
                                        <div class="popup-delivery__tabs__col">
                                            <a href="#" :class="['popup-delivery__tabs__item', {'active': currentTab === 'delivery'}]"
                                                @click="currentTab = 'delivery'">Доставка</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="popup-delivery__input" v-show="currentTab === 'yourself'" >
                                    <div class="popup-delivery__input__item" v-if="selectedCafe">
                                        <input class="c-input" type="text" :value="selectedCafe.title" readonly @keyup="openCafesList()" @focus="openCafesList()">
                                        <button type="button" class="popup-delivery__input__close" @click="depickCafe()"></button>
                                    </div>
                                    
                                    <div class="popup-delivery__input__item" v-else>
                                        <input class="c-input" type="text" placeholder="Выберите интересующее вас кафе" @keyup="openCafesList()" @focus="openCafesList()">
                                    </div>

                                    <div :class="['popup-delivery__select', {'active': isCafesListOpen}]" >
                                        <div v-for="cafe in loadedCafes" :key="cafe.id" @click="pickCafe(cafe)">
                                            \{{ cafe.title }}
                                        </div>
                                    </div>
                                </div>

                                <div class="popup-delivery__input" v-show="currentTab === 'delivery'">
                                    <input class="c-input" type="text" placeholder="Начните вводить адрес" v-model="address" id="popup-delivery__delivery-input">
                                </div>

                                <div class="popup-delivery__submit" v-if="selectedCafe">
                                    <button class="c-button c-button__default" @click="saveAndClose()">Выбрать</button>
                                </div>
                                
                            </div>
                            <div class="popup-delivery__col">

                                <div class="popup-delivery__map" id="popup-delivery__cafes-map" v-show="currentTab === 'yourself'"></div>
                                <div class="popup-delivery__map" id="popup-delivery__delivery-map" v-show="currentTab === 'delivery'"></div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


