---
title: Главная
layout: default.hbs
---


<script>
    function onSavedCallback(state) {
        alert('Я колбек. Меня можно задать в data-атрибутах. Получаю то же состояние, которое пишется в инпут:' + state + '. Можно использовать для синхронизации с бэкендом и вызова функций битрикса.');
    }
</script>

<div class="mfp-wrap popup-delivery is-visible" id="popup-delivery"  tabindex="-1" style="overflow-x: hidden; overflow-y: auto;" v-cloak

    data-base-map-options='{"iconUrl":"images/popup-delivery/icon-default.png", "selectedIconUrl": "images/popup-delivery/icon-selected.png", "iconOffset":[-28,-68],"iconSize":[56,68]}'
    data-delivery-map-options='{"center":[55.7600134479554,37.6234488098733],"zoom":8}'
    data-cafes-map-options='{"center":[55.7600134479554,37.6234488098733],"zoom":8}'
    data-onsaved="onSavedCallback">

    <div class="mfp-container mfp-inline-holder">
        <div class="mfp-content">
            <div class="mfp-content-bg"></div>
            <div class="popup popup-delivery__window">
                <div class="popup-box">
                    <h3 class="popup-title">Выберите способ получения <span class="popup-close"></span></h3>
                    <div class="popup-body popup-delivery__body">

                        <ul id="debug">
                            <li>
                                При нажатии "Выбрать" сохраняет в инпут состояние . 
                                При инициализации загружается из него.
                                <button type="button" onclick="document.getElementById('debug').style.display = 'none';">Ок!</button>
                            </li>
                            <li style="margin: 10px 0 20px 0;">
                                <input type="text" class="c-input" value='{"currentTab":"delivery","selectedCafe":{"id":"372","title":"АндерСон Гиляровского"},"selectedAddress":{"id":1,"title":"Казань","location":["55.78360130385409","49.133704199840146"]}}' id="popup-delivery__state">
                            </li>
                        </ul>

                        <div class="popup-delivery__row">
                            <div class="popup-delivery__col">

                                <div class="popup-delivery__tabs">
                                    <div class="popup-delivery__tabs__list">
                                        <div class="popup-delivery__tabs__col">
                                            <a href="#" :class="['popup-delivery__tabs__item', {'active': currentTab === 'yourself'}]"
                                                @click.prevent="currentTab = 'yourself'">Самовывоз</a>
                                        </div>
                                        <div class="popup-delivery__tabs__col">
                                            <a href="#" :class="['popup-delivery__tabs__item', {'active': currentTab === 'delivery'}]"
                                                @click.prevent="currentTab = 'delivery'">Доставка</a>
                                        </div>
                                    </div>
                                </div>

                                <div v-show="currentTab === 'yourself'">

                                    <select-cafe 
                                        ref="selectCafe"
                                        url="data/cafes.json" 
                                        placeholder="Выберите интересующее вас кафе"
                                        :initial="selectedCafe"
                                        @loaded="onCafesLoaded"
                                        @changed="updateCafe">
                                    </select-cafe>

                                    <div class="popup-delivery__submit" v-show="selectedCafe !== null">
                                        <button class="c-button c-button__default" @click="saveAndClose()">Выбрать</button>
                                    </div>

                                </div>
                                
                                <div v-show="currentTab === 'delivery'">
                                    
                                    <select-address 
                                        url="data/addresses.json" 
                                        param="query" 
                                        :initial="selectedAddress"
                                        placeholder="Начните вводить адрес"
                                        @changed="updateAddress">
                                    </select-address>

                                    <div class="popup-delivery__submit" v-show="selectedAddress !== null">
                                        <button class="c-button c-button__default" @click="saveAndClose()">Выбрать</button>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="popup-delivery__col">

                                <div class="popup-delivery__map">
                                    <div :class="['popup-delivery__map__image', {active: currentTab === 'yourself'}]" id="popup-delivery__cafes-map"></div>
                                    <div :class="['popup-delivery__map__image', {active: currentTab === 'delivery'}]" id="popup-delivery__delivery-map"></div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


